{% extends 'base.html' %}
{% block titulo %}Adicionar Tarefa{% endblock %}

{% block conteudo %}
    <div id="div-form" class="container d-flex justify-content-center w-50">
        <form action="" method="post">
            <label for="nomeForm">Nome da Tarefa</label><br>
            <input class="form-control" type="text" name="nomeForm"><br>
            <label for="descForm">Descrição</label><br>
            <input class="form-control" type="text" name="descForm" placeholder="Opcional"><br>
            <input class="btn btn-success"type="submit" value="Adicionar">
        </form>
    </div>
{% endblock %}
