{% extends 'base.html' %}
{% block titulo %}Cadastrar{% endblock %}

{% block conteudo %}
    <div id="div-form" class="container d-flex justify-content-center w-50">
        <form action="" method="post" onsubmit="return validarSenha()">
            <label for="nomeForm">Nome de Usuário</label><br>
            <input class="form-control" type="text" name="nomeForm"><br>
            <label for="senhaForm">Senha</label><br>
            <input class="form-control" type="password" name="senhaForm" id="senhaInput"><br>
            <label for="senhaForm">Confirmar Senha</label><br>
            <input class="form-control" type="password" name="confirmarSenhaForm" id="confirmarSenhaInput"><br>
            <input class="btn btn-success" type="submit" value="Cadastrar" style="margin-top: 20px;">
            <p>Já tem um perfil? <a href="/login">Faça Login.</a></p>
        </form>
    </div>

    <script>
        function validarSenha(){
            var senha = document.getElementById('senhaInput').value
            var senhaConfirmar = document.getElementById('confirmarSenhaInput').value

            if (senha != senhaConfirmar){
                alert('As senhas não coincidem!')
                return false
            }
            return true
        }
    </script>

{% endblock %}
