{% extends 'base.html' %}
{% block titulo %}Editar Tarefa{% endblock %}

{% block conteudo %}
    <div id="div-form" class="container d-flex justify-content-center w-50">
        <form action="" method="post">
            <label for="nomeForm">Nome da Tarefa</label><br>
            <input class="form-control" type="text" name="nomeForm" value="{{tarefa.nome}}"><br>
            <label for="descForm">Descrição</label><br>
            <input class="form-control" type="text" name="descForm" value="{{tarefa.descricao}}" placeholder="Opcional"><br>
            <input class="btn btn-primary" type="submit" value="Editar">
        </form>
    </div>
{% endblock %}
