{% extends 'base.html' %}
{% block titulo %}Tarefas{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
<div id="tabela-div" class="container d-flex flex-column justify-content-center w-70">
    <div style="text-align: center;">
        <h2>Olá, {{usuario.nome}}!</h2>
        <br>
        <h4>Suas Tarefas</h4>
    </div>
    <table class="table" id="tabela_tarefas" style="text-align: center;">
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Descrição</th>
                <th>Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in usuario.tarefas[::-1] %}
            {% if tarefa.status == 0 %}
                {% set btn = 'danger' %}
            {% endif %}
            {% if tarefa.status == 1 %}
                {% set btn = 'warning' %}
            {% endif %}
            {% if tarefa.status == 2 %}
                {% set btn = 'success' %}
            {% endif %}
                <tr>
                    <td>{{tarefa.nome}}</td>
                    <td>{{tarefa.descricao}}</td>
                    <td><a class="btn btn-{{btn}} btn-sm" href="/status/{{tarefa.id}}">{{tarefa.status_str}}</a></td>
                    <td><a class="" href="/editar-tarefa/{{tarefa.id}}"><img src="{{url_for('static',filename='images/editar.png')}}" style="width: 20px;" alt=""></a></td>
                    <td><a class="" href="/deletar/{{tarefa.id}}"><img style="width: 20px;" src="{{url_for('static',filename='images/deletar.png')}}" alt=""></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/adicionar-tarefa" class="btn btn-outline-primary ml-auto" style="width: fit-content;">Adicionar Tarefa</a>
</div>
{% endblock %}